<% if notice %> 
<p id="notice"><%= notice %></p>
 <% end %>

<h1>Your Pragmatic Catalog</h1>
You've been here <%= pluralize(@index_view_count, 'times')%>

<% @products.each do |product| %>
	<div class="entry">
		<!-- <%= image_tag(product.image_url) %>	 -->
		
		<%= link_to(image_tag(product.image_url), line_items_path(:product_id => product), :method =>:post, :remote => true) %>
		<h3><%=product.title%></h3>
		<%=sanitize product.description%>
		<div class = "price_line">
			<span class="price"><%= number_to_currency(product.price)%></span>
			<!-- makes button, says 'add to cart', passes product to line_items:create (POST command) -->
			<%= button_to 'Add to Cart', line_items_path(:product_id => product), :remote => true%>
			<!-- remote=>true has the browser send an ajax request to our app -->
			<!-- above line creates an html <form>, which contains an html <div> -->
		</div>
	</div>
<% end%>