<% if notice %> 
<p id="notice"><%= notice %></p>
 <% end %>

<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url) %>	<!-- creates an html <img> tag, argument is the img src -->
		<h3><%=product.title%></h3>
		<%=sanitize product.description%>
		<div class = "price_line">
			<span class="price"><%= number_to_currency(product.price)%></span>
			<!-- creates a button, displays 'add to cart', passes product -->
			<%= button_to 'Add to Cart', line_items_path(:product_id => product)%>
			<!-- above line creates an html <form>, which contains an html <div> -->
		</div>
	</div>
<% end%>